.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

li span {
  margin-right: 10px;
}
